.widget p {
	margin: 0 auto 1em;
}

.widget p.radius {
	width: calc( 75% - 5px );
	padding-right: 5px;
}

.widget p.unit {
	width: calc( 25% - 5px );
	padding-left: 5px;
}

.widget .wo_social_icons-sortable {
	clear: both;
}

.widget .wo_social_icons-sortable > li.wosi-state-highlight {
	height: 40px;
	border: 1px dashed #b3b3b3;
}

.widget .wo_social_icons-sortable > li h3.ui-accordion-header {
	background-color: #fafafa;
	padding: 0.75em 2em 0.75em 0.75em;
	margin: auto;
	border: 1px solid #e5e5e5;
	font-size: 1em;
	font-weight: 400;
	cursor: move;
	position: relative;
}

.widget .wo_social_icons-sortable > li h3.ui-accordion-header::after {
	content: '\f140';
	font-family: 'dashicons';
	font-size: 1.4em;
	font-weight: 400;
	position: absolute;
	top: 0.55em;
	right: 0.5em;
}

.widget .wo_social_icons-sortable > li h3.ui-accordion-header.ui-accordion-header-active::after {
	content: '\f142';
}

.widget .wo_social_icons-sortable > li h3.ui-accordion-header.ui-state-hover {
	border: 1px solid #b3b3b3;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content {
	padding: 10px;
	border: 1px solid #e5e5e5;
	border-top: 0;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content .alignleft,
.widget .wo_social_icons-sortable > li .ui-accordion-content .alignright {
	width: calc( 50% - 0.5em );
	padding: 0 0.5em 0 0;
}

 .widget .wo_social_icons-sortable > li .ui-accordion-content .alignright {
 	padding: 0 0 0 0.5em;
 }

.widget .wo_social_icons-sortable > li .ui-accordion-content p {
	margin: 0 auto 0.75em;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content p label {
	margin: 0 auto 0.5em;
	display: block;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content .icon-set {
	margin: 1em auto 0;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content .icon-set > li {
	margin: auto;
	display: inline-block;
	vertical-align: top;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content .icon-set > li input[type="radio"] {
	display: none;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content .icon-set > li input[type="radio"] + label {
	color: #cfcfcf;
	padding: 0.2em;
	margin-right: 0.1em;
	border: 2px solid #cfcfcf;
	border-radius: 0.2em;
	font-size: 1.7em;
	display: block;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content .icon-set > li input[type="radio"]:checked + label {
	color: #f0b43b;
	border: 2px solid #f0b43b;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content .icon-set > li input[type="radio"] + label .wosi-icon {
	width: 1em;
	height: 1em;
	display: inline-block;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content .wosi-media .wosi-icon-holder {
	margin: 0 auto 1em;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content .wosi-media .wosi-icon-holder img {
	max-width: 100%;
	margin: 0.5em auto 0;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content .colors legend {
	color: #757575;
	padding: 0 0 10px;
	margin: 0 auto 10px;
	border-bottom: 1px solid #e7e7e7;
	font-weight: 600;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content .colors > p:not(.clear) {
	margin: auto;
}

.widget .wo_social_icons-sortable > li .ui-accordion-content .colors .wp-picker-container .iris-picker {
	background-color: #fff;
	z-index: 9;
}